* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
    color: rgb(255, 255, 255);
}


body {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../assets/img/fondo-de-pantalla.jpg);
  background-size: 1366px 2629px;

}




/*ACÁ ES COMIENZA EL ARMADO DEL HEADER Y EL NAVBAR CON FLEXBOX*/

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  gap: 10px;
  background-color: rgb(0, 128, 0);
}

.nav-bar-a {
  font-size: 14px;
  text-align: center;
}


.nav-bar a {
  line-height: 1cm;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-bar .logo img {
    width: 120px;
    height: 41px;
}


/*ACÁ COMIENZA PARA EL INDEX LA COLOCACIÓN DE LAS FOTOS DE LOS JUGADORES HECHO CON FLEXBOX Y ANIMACIONES*/
/*ACÁ CORRESPONDE A LA ANIMACIÓN FOTO DE DJOKOVIC*/

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.animated1 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.djokovic {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*ACÁ CORRESPONDE A LA ANIMACIÓN FOTO DE NADAL*/
.animated2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.nadal {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}



/*ACÁ CORRESPONDE A LA ANIMACIÓN FOTO DE FEDERER*/
.animated3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.federer {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}



/*ACÁ CORRESPONDE A LA ANIMACIÓN FOTO DE MURRAY*/

.animated4 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 3.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.murray {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}




/*ACÁ CORRESPONDE AL PÁRRAFO DE DEL POTRO*/

.videoBigFour {
  width: 700px;
  height: 300px;
  align-self: center;
}

.parrafo {
  width: 700px;

}

.parrafo section {
  height: 213px;
  font-size: 1rem;
  text-align: center;

}

.animated5 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.delPotro {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0., 0., 0.);
    transform: scale3d(0., 0., 0.);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0., 0., 0.);
    transform: scale3d(0., 0., 0.);
  }

  50% {
    opacity: 1;
  }
}


/*ACÁ CORRESPONDE AL PÁRRAFO DE HOMENAJE*/

.animated6 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 4.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.homenaje {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0., 0., 0.);
    transform: scale3d(0., 0., 0.);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0., 0., 0.);
    transform: scale3d(0., 0., 0.);
  }

  50% {
    opacity: 1;
  }
}




/*Acá comienza la edición del MAIN del index.html*/

.titulo-productos {
  display: flex;
  justify-content: center;
}

.section-principal {
  display: flex;
}

.container-todoslosproductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

/**Acá comienza la edición de raquets.html**/

/*Acá comienza la edición del main, dentro del cual hay partes hechas con GRIDS y FLEXBOX*/

.titulo-raquetas h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.grid-containerRaquetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "raque-modeloUno raque-modeloDos raque-modeloTres raque-modeloCuatro"
  ;
  justify-items: center;
  width: 100%;
}

.raque h5 span {
  color: rgb(255, 0, 0);
}

.raque {
  text-align: center;
}

.raque-modeloUno {
  grid-area: raque-modeloUno;
}
.raque-modeloDos {
  grid-area: raque-modeloDos;
}
.raque-modeloTres {
  grid-area: raque-modeloTres;
}
.raque-modeloCuatro {
  grid-area: raque-modeloCuatro;
}

/*Acá comienza la edición para la sección de tips para elegir una raqueta de tenis*/

.comoElegirRaquetaDeTenis {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}


.comoElegirRaquetaDeTenis h3 {
  margin-left: 35px;  
}

.comoElegirRaquetaDeTenis p {
 line-height: 3cm;
 margin-left: 35px;
}

.comoElegirRaquetaDeTenisTips li {
 margin-left: 65px;
 padding-left: 25px;
 line-height: 0.8cm;
}

.comoElegirRaquetaDeTenisTipsDos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.comoElegirRaquetaDeTenisTipsDosParrafo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.comoElegirRaquetaDeTenisTipsDosParrafo p {
  line-height: 0.8cm;
  
}


.comoElegirRaquetaDeTenisTipsDosParrafo .fotoRaquetaTips {
align-self: center;
}

/**Acá le agregué una animación a los 4 productos de raquets.html**/
/*Acá le agregué animación al modelo 1*/

.raque1 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.raque-modeloUno {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 2*/

.raque2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.raque-modeloDos {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 3*/

.raque3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.raque-modeloTres {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 4*/
.raque4 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.raque-modeloCuatro {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}




/**Acá comienza la edición de shoes.html**/

/*Acá comienza la edición del main,  dentro del cual hay partes hechas con GRIDS y FLEXBOX*/


.titulo-zapatillas h2 {
  text-align: center;
}

.grid-containerShoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "shoes-modeloUno shoes-modeloDos shoes-modeloTres shoes-modeloCuatro"
  ;
  justify-items: center;
}

.shoes h5 span {
  color: rgb(255, 0, 0);
}

.shoes {
  text-align: center;
}

.shoes-modeloUno {
  grid-area: shoes-modeloUno;
}
.shoes-modeloDos {
  grid-area: shoes-modeloDos;
}
.shoes-modeloTres {
  grid-area: shoes-modeloTres;
}
.shoes-modeloCuatro {
  grid-area: shoes-modeloCuatro;
}

/**Acá le agregué una animación a los 4 productos de shoes.html**/

/*Acá le agregué animación al modelo 1*/

.shoes1 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.shoes-modeloUno {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 2*/

.shoes2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.shoes-modeloDos {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 3*/

.shoes3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.shoes-modeloTres {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 4*/
.shoes4 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.shoes-modeloCuatro {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

/**Acá comienza la edición de clothes.html**/

/*Acá comienza la edición del main,  dentro del cual hay partes hechas con GRIDS y FLEXBOX*/



.titulo-clothes h2 {
  text-align: center;
}

.grid-containerClothes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "clothes-modeloUno clothes-modeloDos clothes-modeloTres clothes-modeloCuatro"
  ;
  justify-items: center;
}

.clothes h5 span {
  color: rgb(255, 0, 0);
}

.clothes {
  text-align: center;
}

.clothes-modeloUno {
  grid-area: clothes-modeloUno;
}
.clothes-modeloDos {
  grid-area: clothes-modeloDos;
}
.clothes-modeloTres {
  grid-area: clothes-modeloTres;
}
.clothes-modeloCuatro {
  grid-area: clothes-modeloCuatro;
}


/**Acá le agregué una animación a los 4 productos de clothes.html**/

/*Acá le agregué animación al modelo 1*/

.clothes1 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.clothes-modeloUno {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 2*/

.clothes2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.clothes-modeloDos {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 3*/

.clothes3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.clothes-modeloTres {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 4*/
.clothes4 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.clothes-modeloCuatro {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

/**Acá comienza la edición de balls.html**/

/*Acá comienza la edición del main,  dentro del cual hay partes hechas con GRIDS y FLEXBOX*/


.titulo-pelotas h2 {
  text-align: center;
}

.grid-containerPelotas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "pelotas-modeloUno pelotas-modeloDos pelotas-modeloTres pelotas-modeloCuatro"
  ;
  justify-items: center;
}

.pelotas h5 span {
  color: rgb(255, 0, 0);
}

.pelotas {
  text-align: center;
}

.pelotas-modeloUno {
  grid-area: pelotas-modeloUno;
}
.pelotas-modeloDos {
  grid-area: pelotas-modeloDos;
}
.pelotas-modeloTres {
  grid-area: pelotas-modeloTres;
}
.pelotas-modeloCuatro {
  grid-area: pelotas-modeloCuatro;
}


/**Acá le agregué una animación a los 4 productos de balls.html**/

/*Acá le agregué animación al modelo 1*/

.pelotas1 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.pelotas-modeloUno {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 2*/

.pelotas2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.pelotas-modeloDos {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 3*/

.pelotas3 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.pelotas-modeloTres {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}


/*Acá le agregué animación al modelo 4*/
.pelotas4 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.pelotas-modeloCuatro {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}



/*Acá comienza la edición del formulario de CONTACTO, hecho con FLEXBOX*/

.contactoTitulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacto {
  display: flex;
 flex-direction: row;
 flex-wrap: wrap;
}

.contactoTexto {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 10px;
}

.contactoTexto p {
  display: block;
  margin-top: 0px;
  margin-bottom: 1rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.contactoTexto ul {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.contactoTexto ul {
  list-style: none;
}

.contactForm form {
  display: flex;
  flex-direction: column;
}


.contactForm .contactFormNombreApellido {
  align-self: center;
}

.contactForm .contactFormAsuntoEmail {
  align-self: center;
}

.contactForm .textArea {
  align-self: center;
}

.textAreaModify {
  border-bottom-right-radius: 40px;
  width: 360px;
  height: 290px;
}

.botonEnviar {
  align-self: center;
  color: black;
  border-radius: 5px;
  width: 50px;
  margin-bottom: 10px;
}

.contactFormPartsOne {
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 180px;
  height: 50px;
}

.contactFormPartsTwo {
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 180px;
  height: 50px;
}


/*Acá comienza la edición del FOOTER*/



footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "news PreguntasFrecuentes datos";
}

footer .news {
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(235, 238, 235) 5px;
  border-radius: 1rem;
  padding: 5px;
  grid-area: news;
}

footer .preguntasFrecuentes {
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(235, 238, 235) 5px;
  border-radius: 1rem;
  padding: 5px;
}

footer .preguntasFrecuentes .preguntasFrecuentes__1 a  {
  color: rgb(235, 238, 235);
}

footer .preguntasFrecuentes .preguntasFrecuentes__2 a  {
  color: rgb(235, 238, 235);
}

footer .preguntasFrecuentes li {
  list-style: none;
}

footer .preguntasFrecuentes li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

footer .datos {
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(235, 238, 235) 5px;
  border-radius: 1rem;
  padding: 5px;
}

footer .datos li {
  list-style: none;
}

.enviar {
  color: black;
  width: 55px;
  height: 25px;
  border-radius: 5px;
}


  /*Acá declaramos media querie para vista tablet (768px)*/
  /*Acá declaramos media querie para para el nav-bar*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
  @media (max-width: 768px) {
    .nav-bar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      background-color: rgb(0, 128, 0);     
    }

    .nav-bar-a {
      font-size: 12px;
      text-align: center;
    }
    
    
    .nav-bar a {
      line-height: 1cm;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
/*ACA MODIFIQUÉ EL TAMAÑO DEL TEXTO DEL MAIN DEL index.html*/

.section-principal p {
  font-size: 12px; 
}

.titulo-productos h2 {
  font-size: 13px;
}
 /*Acá declaramos media querie para las fotos de los jugadores del index.html*/


/*Acá corresponde a los tamaños que tendrán las fotos de los jugadores para vista tablet (768px)*/
.fotoDjokovic {
  width: 142px;
  height: 213px;
}
.fotoNadal {
  width: 152.5px;
  height: 213px;
}
.fotoFederer {
  width: 119.5px;
  height: 213px;
}
.fotoMurray {
  width: 170.5px;
  height: 213px;
}

.fotoDelpotro {
  width: 98.5px;
  height: 212px;
}

/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*Acá comienza la edición del MAIN del index.html*/



.titulo-productos h2 {
  font-size: 15px;
}


.vistaMobileProductos {
  width: 100px;
  height: 100px;
}

/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/

    
  

/*ACÁ CORRESPONDE AL PÁRRAFO DE DEL POTRO*/

.videoBigFour {
  width: 350px;
  height: 150px;
  align-self: center;
}

.parrafo {
  width: 350px;

}

.parrafo section {
  height: 106.5px;
  font-size: 1rem;
  text-align: center;

}



/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/

/*ACA MODIFICAMOS EL TAMAÑO DE LAS IMAGENES DE LAS RAQUETAS DE raquets.html*/

.titulo-raquetas h2 {
  font-size: 15px;
}

.grid-containerRaquetas h4 {
  font-size: 12px;
}

.grid-containerRaquetas h5 {
  font-size: 10px;
}

.comoElegirRaquetaDeTenis p {
  font-size: 10px;
}

.comoElegirRaquetaDeTenis h3 {
  font-size: 12px;
}

.comoElegirRaquetaDeTenisTips li {
  font-size: 10px;
}

.raquetasVistaMobile {
  width: 100px;
  height: 232px;
}

/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/

/*ACA BAJAMOS EL LINE-HEIGHT PARA VISTA TABLET*/
.comoElegirRaquetaDeTenis p { 
  line-height: 1.5cm;
  margin-left: 17.5px;
 }

 .comoElegirRaquetaDeTenisTips li {
 margin-left: 32.5px;
 padding-left: 12.5px;
 line-height: 0.4cm;
}

 .comoElegirRaquetaDeTenisTipsDosParrafo p {
  line-height: 0.4cm;
  
}

/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/

/*ACÁ MODIFICAMOS EL TAMAÑO DEL TITULO DEL FORMULARIO DE CONTACTO PARA VISTA TABLET*/

.contactoTitulo h2 {
  font-size: 15px;
}


/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*VISTA TABLET*/
/*ACÁ MODIFICAMOS EL TAMAÑO DEL TITULO DEL FORMULARIO DE CONTACTO PARA VISTA TABLET*/

.contacto .contactoTexto h3 {
font-size: 13px;
}

.contacto .contactoTexto p {
font-size: 12px;  
}
 /*ACÁ VAMOS A MODIFICAR TAMAÑO DE LOS ICONOS DE CONTACTO PARA VISTA TABLET*/

 .contacto .contactoTexto ul .vistaMobileEmail {
  width: 28px;
  height: 28px;
  }
  
  .contacto .contactoTexto ul .vistaMobileInstagram {
  width: 28px;
  height: 28px;
  }
  
  .contacto .contactoTexto ul .vistaMobileFacebook {
   width: 28px;
   height: 28px; 
  }

/*ACÁ VAMOS A MODIFICAR TAMAÑO DE LOS ICONOS DEL FOOTER PARA VISTA TABLET*/
.iconoEmailDos {
  width: 28px;
  height: 28px;
} 
.iconoInstagramDos {
  width: 28px;
  height: 28px;
}
.iconoFacebookDos {
  width: 28px;
  height: 28px;
}

}





/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
  /*Acá declaramos media querie para vista mobile (576px)*/

@media(max-width: 576px) {

 /*Acá declaramos media querie para para el nav-bar*/
  .nav-bar-a {
    font-size: 8px;
    text-align: center;
  }
  
  
  .nav-bar a {
    line-height: 1cm;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .fotoDjokovic {
    width: 113px;
    height: 169px;
  }
  .fotoNadal {
    width: 113px;
    height: 157px;
  }
  .fotoFederer {
    width: 113px;
    height: 201px;
  }
  .fotoMurray {
    width: 113px;
    height: 141px;
  }
  
  .fotoDelpotro {
    width: 113px;
    height: 267px;
  }
  
  
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
    

  /*ACA MODIFICAMOS EL TAMAÑO DEL FORMULARIO DE CONTACTO*/

.contacto .contactoTexto h3 {
  font-size: 1rem;
}

.contacto .contactoTexto p {
  font-size: 0.8rem;
}

.contacto .contactoTexto ul li {
  font-size: 0.8rem;
}

.contacto .contactoTexto ul .vistaMobileEmail {
width: 24px;
height: 24px;
}

.contacto .contactoTexto ul .vistaMobileInstagram {
width: 24px;
height: 24px;
}

.contacto .contactoTexto ul .vistaMobileFacebook {
 width: 24px;
 height: 24px; 
}

.textAreaModify {
  width: 500px;
  height: 500px;
}

/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/




  

/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/


/*Acá comienza la edición del MAIN del index.html*/



.titulo-productos h2 {
  font-size: 15px;
}


.vistaMobileProductos {
  width: 100px;
  height: 100px;
}


/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*Acá comienza la edición del formulario de CONTACTO, hecho con FLEXBOX*/


.contactoTexto ul {
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.contactoTexto ul {
  list-style: none;
}

.contactForm form {
  display: flex;
  flex-direction: column;
}


.contactForm .contactFormNombreApellido {
  align-self: center;
}

.contactForm .contactFormAsuntoEmail {
  align-self: center;
}

.contactForm .textArea {
  align-self: center;
}


.botonEnviar {
  align-self: center;
  color: black;
  border-radius: 5px;
  width: 50px;
  margin-bottom: 10px;
}

.contactFormPartsOne {
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 155px;
  height: 25px;
}

.contactFormPartsTwo {
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  width: 155px;
  height: 25px;
}

.textArea {
  align-self: flex-start;
}

.textAreaModify {
  width: 300px;
  height: 145px;
  border-bottom-right-radius: 60px;
}

/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*Acá comienza la edición del FOOTER*/



footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "news PreguntasFrecuentes datos";
}

footer .news {
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(235, 238, 235) 5px;
  border-radius: 1rem;
  padding: 5px;
  grid-area: news;
}

footer .preguntasFrecuentes {
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(235, 238, 235) 5px;
  border-radius: 1rem;
  padding: 5px;
}

footer .preguntasFrecuentes .preguntasFrecuentes__1 a  {
  color: rgb(235, 238, 235);
}

footer .preguntasFrecuentes .preguntasFrecuentes__2 a  {
  color: rgb(235, 238, 235);
}

footer .preguntasFrecuentes li {
  list-style: none;
}

footer .preguntasFrecuentes li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

footer .datos {
  box-sizing: border-box;
  width: 100%;
  border: solid rgb(235, 238, 235) 5px;
  border-radius: 1rem;
  padding: 5px;
}

footer .datos li {
  list-style: none;
}

.enviar {
  color: black;
  width: 55px;
  height: 25px;
  border-radius: 5px;
}

footer .news h4 {
  font-size: 12px;
}

footer .news:not(h4) {
  font-size: 10px;
}

footer .preguntasFrecuentes h4 {
  font-size: 12px;
}

footer .preguntasFrecuentes__1{
  font-size: 10px;
}

footer .preguntasFrecuentes__2{
  font-size: 10px;
}

footer .datos ul li {
  font-size: 10px;
}

.iconoEmailDos {
  width: 24px;
  height: 24px;
} 
.iconoInstagramDos {
  width: 24px;
  height: 24px;
}
.iconoFacebookDos {
  width: 24px;
  height: 24px;
}

/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/*VISTA MOBILE*/
/**Acá comienza la edición de raquets.html**/

.grid-containerRaquetas h4 {
  font-size: 9px;
}

.grid-containerRaquetas h5 {
  font-size: 7px;
}

.raquetasVistaMobile {
  width: 75px;
  height: 174px;
}





















































































































































































































