$fontSizeParaLosP-vistaDesktop992px: 0.9rem;
$fontSizeParaLosH2-vistaDesktop992px: 0.7rem;
$fontSizeParaLosH3-vistaDesktop992px: 0.7rem;
$fontSizeParaLosH4-vistaDesktop992px: 0.7rem;
$fontSizeParaLosUl-vistaDesktop992px: 0.7rem;
