.contactoTitulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .contacto {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
  }
  
  .contactoTexto {
    display: flex;
    flex-direction: column;
    width: 31.25rem;
    padding: 0.625rem;
  }
  
  .contactoTexto p {
    display: block;
    margin-top: 0px;
    margin-bottom: 1rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .contactoTexto ul {
    margin-bottom: 1rem;
    padding-left: 2rem;
  }
  
  .contactoTexto ul {
    list-style: none;
  }
  
  .contactForm form {
    display: flex;
    flex-direction: column;
  }
  
  
  .contactForm .contactFormNombreApellido {
    align-self: center;
  }
  
  .contactForm .contactFormAsuntoEmail {
    align-self: center;
  }
  
  .contactForm .textArea {
    align-self: center;
  }
  
  .botonEnviar {
    align-self: center;
    color: black;
    border-radius: 0.3125rem;
    width: 5rem;
    font-size: 1rem;
    margin-bottom: 0.625rem;
  }
  
  .contactFormPartsOne {
    border-bottom-right-radius: 0.9375rem;
    border-top-left-radius: 0.9375rem;
    width: 11.25rem;
    height: 3.125rem;
  }
  
  .contactFormPartsTwo {
    border-bottom-right-radius: 0.9375rem;
    border-top-left-radius: 0.9375rem;
    width: 11.25rem;
    height: 3.125rem;
  }

  .textAreaModify {
    border-bottom-right-radius: 2.5rem;
    width: 22.5rem;
    height: 18.125rem;
  }